{% extends 'base.html' %}
{% load static %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'admin/css/changelists.css' %}">
{% endblock extrastyle %}

{% block title %} Assignemts {% endblock title %}

{% block content %}
<h1>Assignments</h1>
<div id="changelist">
    <div class="changelist-form-container">
        <div class="results">
            <table id="result_list">
                <thead>
                <tr>
                    <th scope="col" class="column-__str__">
                        <div class="text"><span>Date</span></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-__str__">
                        <div class="text"><span>From</span></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-__str__">
                        <div class="text"><span>To</span></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-__str__">
                        <div class="text"><span>Subject</span></div>
                        <div class="clear"></div>
                    </th>
                    <th scope="col" class="column-__str__">
                        <div class="text"><span>Present students</span></div>
                        <div class="clear"></div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for assignment in assignments %}
                <tr>
                    <td class="field-__str__"><a href="#">{{ assignment.from_date|date:'d.m.Y' }}</a></td>
                    <td class="field-__str__"><a href="#">{{ assignment.from_date|date:'H:i' }}</a></td>
                    <td class="field-__str__"><a href="#">{{ assignment.to_date|date:'H:i' }}</a></td>
                    <td class="field-__str__"><a href="#">{{ assignment.lesson.subject.name }}</a></td>
                    <td class="field-__str__"><a href="#">{{ assignment.present_students_count }}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}