{% extends 'base.html' %}

{% load i18n static %}

{% block title %} Attendances {% endblock title %}

{% block additional_head %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock additional_head%}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active">Group attendances</li>
{% endblock breadcrumbs %}

{% block content %}
<div class="card">
    <div class="card-header">
      <h3 class="card-title">There is a list of attendances for group that you teaach</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Date</th>
          <th>From</th>
          <th>To</th>
          <th>Subject</th>
          <th>Student</th>
          <th>status</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
            {% for attendance in attendances %}
            <tr>
                <th scope="row">{{ attendance.assignment.from_date|date:'d.m.Y' }}</th>
                <td>{{ attendance.assignment.from_date|date:'H:i' }}</td>
                <td>{{ attendance.assignment.to_date|date:'H:i' }}</td>
                <td>{{ attendance.assignment.lesson.subject.name }}</td>
                <td>{{ attendance.student }}</td>
                <td>
                    {% if attendance.status == 'A' %}
                        <span class="badge badge-error">{{ attendance.get_status_display }}</span>
                    {% elif attendance.status == 'P' %}
                        <span class="badge badge-success">{{ attendance.get_status_display }}</span>
                    {% else %}
                        <span class="badge badge-warning">{{ attendance.get_status_display }}</span>
                    {% endif %}
                </td>
                <td>Edit</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Date</th>
                <th>From</th>
                <th>To</th>
                <th>Subject</th>
                <th>Student</th>
                <th>status</th>
                <th></th>
              </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
{% endblock content %}

{% block additional_scripts %}
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
{% endblock additional_scripts %}

{% block page_specific_script %}
<script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true,
        "lengthChange": false,
        "autoWidth": false,
        "ordering": true,
        "info": true,
        "paging": true,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
      }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    });
  </script>
{% endblock page_specific_script %}