{% extends "admin/base.html" %}
{% load i18n static %}

<div id="container">

    {% block header %}
    <header id="header">
        <div id="branding">
            {% block branding %}
            <div id="site-name"><a href="{% url 'index' %}">School Management System</a></div>
                {% if user.is_anonymous %}
                    {% include "admin/color_theme_toggle.html" %}
                {% endif %}
            {% endblock branding %}
        </div>
        <div id="user-tools">
            {% include "admin/color_theme_toggle.html" %}
        </div>
    </header>
    {% endblock header %}

    {% block nav-breadcrumbs %}
    <nav aria-label="{% translate 'Breadcrumbs' %}">
        {% block breadcrumbs %}
            <div class="breadcrumbs">
                <a href="{% url 'index' %}">{% translate 'Home' %}</a>
                {% if title %} &rsaquo; {{ title }}{% endif %}
            </div>
        {% endblock breadcrumbs %}
    </nav>
    {% endblock nav-breadcrumbs %}

    <div class="main" id="main">
        <main id="content-start" class="content" tabindex="-1">
            {% block sidebar %}
                {% include "parts/sidebar.html" %}
            {% endblock %}
            <div id="content" class="{% block coltype %}colM{% endblock %}">
                {% block content %}
                    dsasadasdsa
                {% endblock content %}
                <br class="clear">
            </div>
        </main>
    </div>

</div>